<div id='form'>
  <%= form_with(model: finantial_info, remote: true) do |form| %>
    <% if finantial_info.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(finantial_info.errors.count, "error") %> prohibited this finantial_info from being saved:</h2>

        <ul>
        <% finantial_info.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field" id='salary'>
      <%= form.label :salary %>
      <%= form.text_field :salary %>
    </div>

    <div class="field" id='salary_extra'>
      <%= form.label :salary_extra %>
      <%= form.text_field :salary_extra %>
    </div>

    <div class="field" id='working_time'>
      <%= form.label :working_time %>
      <%= form.text_field :working_time %>
    </div>

    <div class="field" id='visa_type_id'>
      <%= form.label :visa_type_id %>
      <%= form.select :visa_type_id, VisaType.all.collect {|type_visa| [type_visa.name, type_visa.id]}, {} ,id: :visa_visa_type_id, include_blank:false %>
    </div>

    <div class="field" id='worker_type_id'>
      <%= form.label :worker_type_id %>
      <%= form.select :worker_type_id, WorkerType.all.collect {|type_worker| [type_worker.name, type_worker.id]}, {} ,id: :worker_worker_type_id, include_blank:false %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>