<p id="notice"><%= notice %></p>

<h1>Finantial Infos</h1>

<table>
  <thead>
    <tr>
      <th>Salary</th>
      <th>Salay extra</th>
      <th>Working time</th>
      <th>User</th>
      <th>Visa type</th>
      <th>Worker type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @finantial_infos.each do |finantial_info| %>
      <tr>
        <td><%= finantial_info.salary %></td>
        <td><%= finantial_info.salary_extra %></td>
        <td><%= finantial_info.working_time %></td>
        <td><%= finantial_info.user.email %></td>
        <td><%= finantial_info.visa_type %></td>
        <td><%= finantial_info.worker_type %></td>
        <td><%= link_to 'Show', finantial_info %></td>
        <td><%= link_to 'Edit', edit_finantial_info_path(finantial_info) %></td>
        <td><%= link_to 'Destroy', finantial_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Finantial Info', new_finantial_info_path %>
