<% if current_user %>
    <section class="my-4 pt-5 pb-4" id="digitals-cards">
        <h2 class="font-weight-bold my-4 text-center">Productos para t칤!</h2>
            <div class="container text-center my-3">
                <div class="row mx-auto my-auto">
                    <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
                        <div class="carousel-inner w-100" role="listbox">
                            <% @finantial_products.each do |finantial_products| %>
                                <% if @finantial_products.first() == finantial_products %>
                                        <div class="carousel-item active">
                                            <div class="col-md-4">
                                                <div class="card text-gray h-100 font-weight-lighter">
                                                    <span class="text-right m-3 text-muted"><%= finantial_products.product_type %></span>
                                                    <%= image_tag finantial_products.image, class:"d-block rounded mx-auto my-1", :width=> "200", :height=> "100"%>
                                                    <div class="card-body">
                                                        <h3 class="card-title font-weight-lighter py-2 font-weight-bold text-center"><%= finantial_products.name %></h3>
                                                        <p class="card-text my-2 bg-primary text-white mx-0">Instituci칩n financiera: <%= finantial_products.institution_type %></p>
                                                        <p class="card-text d-inline my-1 text-justify"><%= finantial_products.description %></p>
                                                    </div>
                                                    <a href="<%= finantial_products.url%>" class="btn btn-success stretched-link my-2 mx-5 p-1">Cons칤guelo aqu칤</a>
                                                    <div class="card-footer">
                                                        <div class="mx-auto text-center">
                                                            <% if finantial_products.liked?(current_user) %>
                                                                <%= button_to finantial_products_user_finantial_product_path(finantial_products), class:"btn-rt like-button  mb-2" do %>
                                                                <i class="fas fa-toggle-on"></i> <a>   Lo tengo! </a>
                                                                <% end %>
                                                            <% else %>
                                                                <%= button_to finantial_products_user_finantial_product_path(finantial_products), class:"btn-like-light unlike-button mb-2" do %>
                                                                <i class="fas fa-toggle-off"></i> <a>   No lo tengo! </a>
                                                                <% end %>
                                                            <% end %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                <% else %>
                                        <div class="carousel-item">
                                            <div class="col-md-4">
                                                <div class="card text-gray h-100 font-weight-lighter">
                                                    <span class="text-right m-3 text-muted"><%= finantial_products.product_type %></span>
                                                    <%= image_tag finantial_products.image, class:"d-block rounded mx-auto my-1", :width=> "200", :height=> "100"%>
                                                    <div class="card-body">
                                                        <h3 class="card-title font-weight-lighter py-2 font-weight-bold text-center"><%= finantial_products.name %></h3>
                                                        <p class="card-text my-2 bg-primary text-white mx-0">Instituci칩n financiera: <%= finantial_products.institution_type %></p>
                                                        <p class="card-text d-inline my-5 text-justify"><%= finantial_products.description %></p>
                                                    </div>
                                                    <a href="<%= finantial_products.url%>" class="btn btn-success stretched-link my-2 mx-5 p-1">Cons칤guelo aqu칤</a>
                                                    <div class="card-footer">
                                                        <div class="mx-auto text-center">
                                                            <% if finantial_products.liked?(current_user) %>
                                                                <%= button_to finantial_products_user_finantial_product_path(finantial_products), class:"btn-rt like-button  mb-2" do %>
                                                                <i class="fas fa-toggle-on"></i> <a>   Lo tengo! </a>
                                                                <% end %>
                                                            <% else %>
                                                                <%= button_to finantial_products_user_finantial_product_path(finantial_products), class:"btn-like-light unlike-button mb-2" do %>
                                                                <i class="fas fa-toggle-off"></i> <a>   No lo tengo! </a>
                                                                <% end %>
                                                            <% end %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                <% end %>
                            <% end %>
                        </div>
                        <a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
<% else %>
    <section id="aboutme" class="container text-center my-5 pt-5">
        <div class="d-flex row">
            <%= image_tag 'banca2.png', :width=> "300", :height=> "auto", :loading=> "lazy", class:"mx-auto col-md-6" %>
            <div class="my-5 col-md-6">
                <h3 class="text-justify">Bienvenido Banca Friendly, la 칰nica plataforma de educaci칩n financiera especializada en migrantes en Chile</h3>
                <h3 class="text-justify mt-5"> 쯈uieres hackear el sistema financiero y aprovechar sus beneficios? Registrate aqu칤 para conocer m치s:</h3>
                <%= link_to "Registrate", new_user_registration_path, class: "btn btn-secondary mx-2 mt-5 px-5" %>
                <a href="#superpowers" class="text-muted text-center d-block mt-3">쮺칩mo funciona?</a>
            </div>

        </div>
            
    </section>

    <section id="superpowers" class="container text-center my-5">
        <div class="border-bottom border-dark w-25 mx-auto mb-3"></div>
        <h2 class="font-weight-bold my-4">쮺칩mo funciona?</h2>
        <div class="border-bottom border-dark w-25 mx-auto"></div>
        <div class="row my-4">
        <div class="col-md-4">
            <button type="button" class="btn btn-link" data-container="body" data-toggle="popover" data-placement="top" data-content="La gema m치s poderosa de las finanzas"><i class="fas fa-person-booth fa-8x my-3"></i></button>
            <h3 class="my-3">1. Registrate</h3>
            <p class="my-3">Crea tu usuario #bancafriendly con tu correo personal. Es un servicio gratuito y sin letras chicas 游븷</p>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-link" data-container="body" data-toggle="popover" data-placement="top" data-content="Intentando salvar al mundo de Dicom"><i class="fas fa-skating fa-8x my-3"></i></button>
            <h3 class="my-3">2. Ingresa y escoge</h3> 
            <p class="my-3">Despu칠s de iniciar sesi칩n podr치s conocer todos productos financieros m치s #friendly en Chile</p>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-link" data-container="body" data-toggle="popover" data-placement="top" data-content="Conviertete en un superheroe financiero"><i class="fas fa-user-astronaut fa-8x my-3"></i></button>
            <h3 class="my-3">3. Hazte pro</h3>
            <p class="my-3">Si completas tu perfil financiero podr치s acceder a mejores ofertas y productos especialmente dise침ados para t칤</p>
        </div>
        </div>
    </section>
<% end %>
