<% if current_user %>
    <section class="my-4 pt-4" id="normal-products">
        <h2 class="font-weight-bold my-4 text-center">Productos #Friendly!</h2>
            <div class="container text-center my-3">
                <div class="row mx-auto my-auto">
                    <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
                        <div class="carousel-inner w-100" role="listbox">
                            <% @finantial_products.each do |finantial_products| %>
                                <% if @finantial_products.first() == finantial_products && finantial_products.visibility == true %>
                                        <div class="carousel-item active">
                                            <div class="col-md-4">
                                                <div class="card text-gray h-100 font-weight-lighter">
                                                    <span class="text-right m-3 text-muted"><%= finantial_products.product_type %></span>
                                                    <%= image_tag finantial_products.image, class:"d-block rounded mx-auto my-1", :width=> "200", :height=> "100"%>
                                                    <div class="card-body">
                                                        <h3 class="card-title font-weight-lighter py-2 font-weight-bold text-center"><%= finantial_products.name %></h3>
                                                        <p class="card-text my-2 bg-primary text-white mx-0">Institución financiera: <%= finantial_products.institution_type %></p>
                                                        <p class="card-text d-inline my-1 text-justify"><%= finantial_products.description %></p>
                                                    </div>
                                                    <a href=<%= finantial_products.url%> class="btn btn-success my-2 mx-5 p-1">Consíguelo aquí</a>
                                                    <div class="card-footer">
                                                        <div class="mx-auto text-center">
                                                            <% if finantial_products.liked?(current_user) %>
                                                                <%= button_to finantial_products_user_finantial_product_path(finantial_products), class:"btn-rt like-button  mb-2" do %>
                                                                <i class="fas fa-toggle-on"></i> <a>   Lo tengo! </a>
                                                                <% end %>
                                                            <% else %>
                                                                <%= button_to finantial_products_user_finantial_product_path(finantial_products), class:"btn-like-light unlike-button mb-2" do %>
                                                                <i class="fas fa-toggle-off"></i> <a>   No lo tengo! </a>
                                                                <% end %>
                                                            <% end %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                <% elsif @finantial_products.first() != finantial_products && finantial_products.visibility == true %>
                                        <div class="carousel-item">
                                            <div class="col-md-4">
                                                <div class="card text-gray h-100 font-weight-lighter">
                                                    <span class="text-right m-3 text-muted"><%= finantial_products.product_type %></span>
                                                    <%= image_tag finantial_products.image, class:"d-block rounded mx-auto my-1", :width=> "200", :height=> "100"%>
                                                    <div class="card-body">
                                                        <h3 class="card-title font-weight-lighter py-2 font-weight-bold text-center"><%= finantial_products.name %></h3>
                                                        <p class="card-text my-2 bg-primary text-white mx-0">Institución financiera: <%= finantial_products.institution_type %></p>
                                                        <p class="card-text d-inline my-5 text-justify"><%= finantial_products.description %></p>
                                                    </div>
                                                    <a href=<%= finantial_products.url%> class="btn btn-success my-2 mx-5 p-1">Consíguelo aquí</a>
                                                    <div class="card-footer">
                                                        <div class="mx-auto text-center">
                                                            <% if finantial_products.liked?(current_user) %>
                                                                <%= button_to finantial_products_user_finantial_product_path(finantial_products), class:"btn-rt like-button  mb-2" do %>
                                                                <i class="fas fa-toggle-on"></i> <a>   Lo tengo! </a>
                                                                <% end %>
                                                            <% else %>
                                                                <%= button_to finantial_products_user_finantial_product_path(finantial_products), class:"btn-like-light unlike-button mb-2" do %>
                                                                <i class="fas fa-toggle-off"></i> <a>   No lo tengo! </a>
                                                                <% end %>
                                                            <% end %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                <% end %>
                            <% end %>
                        </div>
                        <a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="pro-products" class="container text-center my-2">
        <% if current_user.have_profiling?(current_user) && current_user.admin === false %>
                <h2 class="font-weight-bold my-4 text-center">Productos #FriendlyPRO ⭐</h2>
                    <div class="container text-center my-3">
                        <div class="row mx-auto my-auto">
                            <div id="recipeCarousel-2" class="carousel slide w-100" data-ride="carousel">
                                <div class="carousel-inner w-100" role="listbox">
                                    <% @finantial_products_pro.each do |finantial_products| %>
                                        <% if @finantial_products_pro.first() == finantial_products %>
                                                <div class="carousel-item-2 active">
                                                    <div class="col-md-4">
                                                        <div class="card text-gray h-100 font-weight-lighter pro-color pro-color">
                                                            <span class="text-right m-3 text-muted"><%= finantial_products.product_type %></span>
                                                            <%= image_tag finantial_products.image, class:"d-block rounded mx-auto my-1", :width=> "200", :height=> "100"%>
                                                            <div class="card-body">
                                                                <h3 class="card-title font-weight-lighter py-2 font-weight-bold text-center"><%= finantial_products.name %></h3>
                                                                <p class="card-text my-2 bg-primary text-white mx-0">Institución financiera: <%= finantial_products.institution_type %></p>
                                                                <p class="card-text d-inline my-1 text-justify"><%= finantial_products.description %></p>
                                                            </div>
                                                            <a href=<%= finantial_products.url%> class="btn btn-success my-2 mx-5 p-1">Consíguelo aquí</a>
                                                            <div class="card-footer">
                                                                <div class="mx-auto text-center">
                                                                    <% if finantial_products.liked?(current_user) %>
                                                                        <%= button_to finantial_products_user_finantial_product_path(finantial_products), class:"btn-rt like-button  mb-2" do %>
                                                                        <i class="fas fa-star"></i><a> Lo tengo! </a>
                                                                        <% end %>
                                                                    <% else %>
                                                                        <%= button_to finantial_products_user_finantial_product_path(finantial_products), class:"btn-like-light unlike-button mb-2" do %>
                                                                        <i class="far fa-star"></i><a> No lo tengo! </a>
                                                                        <% end %>
                                                                    <% end %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        <% elsif @finantial_products_pro.first() != finantial_products %>
                                                <div class="carousel-item-2">
                                                    <div class="col-md-4">
                                                        <div class="card text-gray h-100 font-weight-lighter pro-color">
                                                            <span class="text-right m-3 text-muted"><%= finantial_products.product_type %></span>
                                                            <%= image_tag finantial_products.image, class:"d-block rounded mx-auto my-1", :width=> "200", :height=> "100"%>
                                                            <div class="card-body">
                                                                <h3 class="card-title font-weight-lighter py-2 font-weight-bold text-center"><%= finantial_products.name %></h3>
                                                                <p class="card-text my-2 bg-primary text-white mx-0">Institución financiera: <%= finantial_products.institution_type %></p>
                                                                <p class="card-text d-inline my-5 text-justify"><%= finantial_products.description %></p>
                                                            </div>
                                                            <a href=<%= finantial_products.url%> class="btn btn-success my-2 mx-5 p-1">Consíguelo aquí</a>
                                                            <div class="card-footer">
                                                                <div class="mx-auto text-center">
                                                                    <% if finantial_products.liked?(current_user) %>
                                                                        <%= button_to finantial_products_user_finantial_product_path(finantial_products), class:"btn-rt like-button  mb-2" do %>
                                                                        <i class="fas fa-star"></i><a> Lo tengo! </a>
                                                                        <% end %>
                                                                    <% else %>
                                                                        <%= button_to finantial_products_user_finantial_product_path(finantial_products), class:"btn-like-light unlike-button mb-2" do %>
                                                                        <i class="far fa-star"></i><a> No lo tengo! </a>
                                                                        <% end %>
                                                                    <% end %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        <% end %>
                                    <% end %>
                                </div>
                                <a class="carousel-control-prev w-auto" href="#recipeCarousel-2" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next w-auto" href="#recipeCarousel-2" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
        <% else %>
            <h2 class="font-weight-bold my-2">¿Quieres ver más productos? Hazte #FriendlyPro🦸🏻‍♀️</h2>
            <div class="d-flex row">
                <%= image_tag 'bancapro2.png', :width=> "100", :height=> "auto", :loading=> "lazy", class:"mx-auto col-md-4" %>
                <div class="my-2 col-md-8">
                    <h3 class="text-justify mt-5"> Completa tu perfil financiero y podrás solicitar productos y servicios financieros especialmente diseñados para tí.</h3>
                    <%= link_to "Completar mi perfil", new_finantial_info_path, class: "btn btn-secondary mx-2 mt-5 px-5" %>
                </div>
            </div>
        <% end %>  
    </section>

<% else %>
    <section id="aboutus" class="container text-center my-5 pt-5">
        <div class="d-flex row my-3">
            <%= image_tag 'banca2.png', :width=> "100", :height=> "auto", :loading=> "lazy", class:"mx-auto col-md-6" %>
            <div class="my-5 col-md-6">
                <h3 class="text-justify">Bienvenido Banca Friendly, la única plataforma de educación financiera especializada en migrantes en Chile</h3>
                <h3 class="text-justify mt-5"> ¿Quieres hackear el sistema financiero y aprovechar sus beneficios? Registrate aquí para conocer más:</h3>
                <%= link_to "Registrate", new_user_registration_path, class: "btn btn-secondary mx-2 mt-5 px-5" %>
                <a href="#superpowers" class="text-muted text-center d-block mt-3">¿Cómo funciona?</a>
            </div>

        </div>
            
    </section>

    <section id="superpowers" class="container text-center my-5">
        <div class="border-bottom border-dark w-25 mx-auto mb-3"></div>
        <h2 class="font-weight-bold my-4">¿Cómo funciona?</h2>
        <div class="border-bottom border-dark w-25 mx-auto"></div>
        <div class="row my-4">
        <div class="col-md-4">
            <button type="button" class="btn btn-link" data-container="body" data-toggle="popover" data-placement="top" data-content="La gema más poderosa de las finanzas"><i class="fas fa-person-booth fa-8x my-3"></i></button>
            <h3 class="my-3">1. Registrate</h3>
            <p class="my-3">Crea tu usuario #bancafriendly con tu correo personal. Es un servicio gratuito y sin letras chicas 🧐</p>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-link" data-container="body" data-toggle="popover" data-placement="top" data-content="Intentando salvar al mundo de Dicom"><i class="fas fa-skating fa-8x my-3"></i></button>
            <h3 class="my-3">2. Ingresa y escoge</h3> 
            <p class="my-3">Después de iniciar sesión podrás conocer todos productos financieros más #friendly en Chile</p>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-link" data-container="body" data-toggle="popover" data-placement="top" data-content="Conviertete en un superheroe financiero"><i class="fas fa-user-astronaut fa-8x my-3"></i></button>
            <h3 class="my-3">3. Hazte pro</h3>
            <p class="my-3">Si completas tu perfil financiero podrás acceder a mejores ofertas y productos especialmente diseñados para tí</p>
        </div>
        </div>
    </section>
<% end %>
