<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @friendly_type.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @friendly_type.image %>
</p>

<p>
  <strong>User:</strong>
  <%= @friendly_type.user_id %>
</p>

<%= link_to 'Edit', edit_friendly_type_path(@friendly_type) %> |
<%= link_to 'Back', friendly_types_path %>
