<p id="notice"><%= notice %></p>

<h1>Visa Types</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visa_types.each do |visa_type| %>
      <tr>
        <td><%= link_to 'Show', visa_type %></td>
        <td><%= link_to 'Edit', edit_visa_type_path(visa_type) %></td>
        <td><%= link_to 'Destroy', visa_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visa Type', new_visa_type_path %>
