
<h1 class="text-center mx-auto pt-5">Blog</h1>

<% if current_user.admin === true %>
    <%= link_to 'New Post', new_post_path, class:"btn btn-primary link-white mx-5 " %>
  <% else %>
<% end %>

<div class="table-responsive p-5">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Author</th>
        <th>Title</th>
        <th>Description</th>
        <th>Image</th>
        <th>Url</th>
        <th>Product type</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.author %></td>
          <td><%= post.title %></td>
          <td><%= post.description %></td>
          <td><%= post.image %></td>
          <td><%= post.url %></td>
          <td><%= post.product_type %></td>
          <% if current_user.admin === true %>
            <td><%= link_to 'Show', post %></td>
            <td><%= link_to 'Edit', edit_post_path(post) %></td>
            <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% else %>
            <td><%= link_to 'Show', post %></td>
          <% end %>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<% if current_user.admin === true %>
    <%= link_to 'Admin center', home_admin_path, class:"btn btn-secondary link-white mx-5 " %>
  <% else %>
<% end %>

